anyio==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
prisma==0.5.0
pydantic==1.9.0
python-dotenv==0.19.2
rfc3986==1.5.0
sniffio==1.2.0
typing_extensions==4.1.1
Werkzeug==2.0.3
