
body {
    background-color: #e9e9e9;
  }
  h1 {
    color: black;
  }
  p {
    color: rgba(216, 40, 40, 0.712);
  }
  h3 {
    color:rgba(158, 11, 11, 0.712);
  }
  h4 {
    color: black;
  }
  .main-content {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
h2 {
  font-size: 1.5em;
  background-color: rgb(252, 186, 44);
  margin: 20px;
  padding:40px;
}