
body {
    background-color: #f5f7f7;
  }
  h1 {
    color: black;
  }
  p {
    color: rgba(216, 40, 40, 0.712);
  }
  h3 {
    color:rgba(158, 11, 11, 0.712);
  }
  h4 {
    color: black;
  }
  .main-content {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }