body {
    background-color: rgb(238, 238, 238);
  }
  h1 {
    color: black;
  }
  p {
    color: rgba(216, 40, 40, 0.712);
  }

.main-content {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}