<!doctype html>
<html lang="en">
{% block html %}
  <head>
  {% block head %}
    {% block metas %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>
      {% block title %}{{ title }}{% endblock title %}
      </title>
    {% endblock metas %}
    {% block styles %}
      {{ bootstrap.load_css() }}
    {% endblock styles %}
  {% endblock head %}
  </head>
  <body>
  {% block body %}
    <div class="main">
      {% block navigation %}{% include 'include/_navigation.html' %}{% endblock %}
      <div class="container">
        {% block header %}{% include 'include/_header.html' %}{% endblock header %}
        {% block flash_message %}{% include 'include/_flash_message.html' %}{% endblock flash_message %}
        {% block content %}{% endblock content %}
        {% block footer %}{% include 'include/_footer.html' %}{% endblock footer %}
      </div>
    </div>
    {% block scripts %}
      <!-- put your scripts before call to super -->
      {{ bootstrap.load_js() }}
    {% endblock scripts %}
  {% endblock body %}
  </body>
{% endblock html %}
</html>

{# vim: set ft=jinja ts=2 sw=2 sts=2 et: #}
