{% extends 'extends/__base.html' %}

{% block content %}
<head>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <style>
  body {
    font-family: "Audiowide", sans-serif;
  }
  </style>
  </head>
  <h1>{{ title }}</h1>
  <p>Exercises for <span style="color: rgb(255, 199, 17);;font-weight:bold">{{ user.first_name }} {{ user.last_name }}</span></p>
  <h3>Current Exercise:  {{current.name}}</h3>
  <h4>Pick an Exercise <h4>
    <form method="post" action="/exercises">
        <input type="submit" value='{{exercises[0]}}' name="action1"/>
        <input type="submit" value='{{exercises[1]}}' name="action1" />
        <input type="submit" value='{{exercises[2]}}' name="action1" />
        <input type="submit" value='{{exercises[3]}}' name="action1"/>
        <input type="submit" value='{{exercises[4]}}' name="action1" />
        <input type="submit" value='{{exercises[5]}}' name="action1" />
        <input type="submit" value='{{exercises[6]}}' name="action1" />
        <input type="submit" value='{{exercises[7]}}' name="action1" />
        <input type="submit" value='{{exercises[8]}}' name="action1"/>
        <input type="submit" value='{{exercises[9]}}' name="action1"/>
        <input type="submit" value='{{exercises[10]}}' name="action1" />
        <input type="submit" value='{{exercises[11]}}' name="action1" />
        <input type="submit" value='{{exercises[12]}}' name="action1"/>
        <input type="submit" value='{{exercises[13]}}' name="action1" />
        <input type="submit" value='{{exercises[14]}}' name="action1" />
        <input type="submit" value='{{exercises[15]}}' name="action1" />
        <input type="submit" value='{{exercises[16]}}' name="action1" />
    </form>
{% endblock content %}

{# vim: set ft=jinja ts=2 sw=2 sts=2 et: #}