{% extends 'extends/__base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <style>
  body {
    font-family: "Audiowide", sans-serif;
  }
  </style>
  </head>
  <h1>{{ title }}</h1>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <h2>Current Exercise: {{currente.name}}</h2>
      <p>Calories: {{currente.calories}}</p>
      <p>Difficulty: {{currente.diff}}</p>
      <p>Type: {{currente.type}}</p>
    <a class="btn btn-primary" href="{{ url_for('exercises') }}" role="button">Exercises</a>
    <h2>Current Mealplan: {{currentm.name}}</h2>
      <p>Calories: {{currentm.calories}}</p>
      <p>vegetarian: {{currentm.vegetarian}}</p>
      <a class="btn btn-primary" href="{{ url_for('meals') }}" role="button">Meals</a>
  </body>
{% endblock content %}

{# vim: set ft=jinja ts=2 sw=2 sts=2 et: #}