{% extends 'extends/__base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
    body {
      font-family: "Audiowide", sans-serif;
    }
    </style>
</head>
<h2>Welcome to the Workout App!</h2>
<h3>
Many people want to work out and look good, but not everyone does because it can be hard to find the motivation or know how to start. The Workout App will allow people to get fit and maximize their results will plans customized for them.
</h3>
<h2>Enter your information along with your workout focus to get exercises that will help you reach your goal.</h2>
<h3>Keep track of calories burned per exercise and pick out meals that will help you get the most out of your workout.</h3>
<h2>Show off your progress and share your exercise plans to a community of other users!</h2>
{% endblock content %}