{% extends 'extends/__base.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  <body style="background-color:grey;">
    <p>{{user.first_name}} {{user.last_name}}</p>
    <h2>Current Exercise: {{currente.name}}</h2>
      <p>Calories: {{currente.calories}}</p>
      <p>Difficulty: {{currente.diff}}</p>
      <p>Type: {{currente.type}}</p>
    <h2>Current Mealplan: {{currentm.name}}</h2>
      <p>Calories: {{currentm.calories}}</p>
      <p>vegetarian: {{currentm.vegetarian}}</p>
  </body>
{% endblock content %}

{# vim: set ft=jinja ts=2 sw=2 sts=2 et: #}