{% extends 'extends/__base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <style>
  body {
    font-family: "Audiowide", sans-serif;
  }
  </style>
  </head>
  <h1>{{ title }}</h1>
  <p>Mealplans for <span style="color: rgb(255, 199, 17);;font-weight:bold">{{ user.first_name }} {{ user.last_name }}</span></p>
  <h3>Current Mealplan: {{current.name}}</h3>
  <h4>Pick a Meal<h4>
    <form method="post" action="/meals">
        <input type="submit" value='{{mealplans[0]}}' name="action1"/>
        <input type="submit" value='{{mealplans[1]}}' name="action1" />
        <input type="submit" value='{{mealplans[2]}}' name="action1" />
        <input type="submit" value='{{mealplans[3]}}' name="action1"/>
        <input type="submit" value='{{mealplans[4]}}' name="action1" />
    </form>
{% endblock content %}

{# vim: set ft=jinja ts=2 sw=2 sts=2 et: #}