{% extends 'extends/__base.html' %}

{% block content %}
  <form method="post" action="" role="form">
    <h1 class="h3 mb-auto-3 fw-normal">Do you want to post this exercise?</h1>
    {{ form.csrf_token }}
    <div class="form-floating">
      {{ form.post(class_='form-control', id='floatingInput', type='username', placeholder=form.post.description) }}
      {{ form.post.label }}
    </div>
    {{ form.submit(class='w-100 btn btn-lg btn-primary', type='submit') }}
  </form>
{% endblock content %}