{% extends 'extends/__base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
 <center>
 <div class="card" style="width: 18rem; margin-top: 20px;">
  {% if user.profile_completed %}
  <table style="margin-bottom: 20px;">
     <tr valign="top">
         <td><img src="{{ user.avatar(100) }}"></td>
         <td style="padding-top: 30px;"><h1 class="card-title">{{ user.username }}</h1></td>
     </tr>
  </table>
  {% else %}
      <h1>{{ user.username }}</h1>
  {% endif %}
  <div class="card-body">
    <a href="{{ user.username }}/followers" style="color: black; cursor: pointer; margin-right: 10px">
        {{ user.followers.count() }} Followers
    </a>
    <a href="{{ user.username }}/followed" style="color: black; cursor: pointer;">
        {{ user.followed.count() }} Following
    </a>
  {% if user != current_user %}
    {% if not current_user.is_following(user) %}
    <form action="{{ url_for('follow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Follow') }}
    </form>
    {% else %}
    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Unfollow') }}
    </form>
    {% endif %}
  {% endif %}
  {% if user == current_user %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Age: {{ user.age }}</li>
    <li class="list-group-item">Height: {{ user.height }}</li>
    <li class="list-group-item">Weight: {{ user.weight }}</li>
    <a class="btn btn-primary" href="{{ url_for('edit_profile') }}" role="button">Edit</a>
  </ul>
  <p>Posts:</p>
  {% endif %}
  </div>
</div>
</center>
{% endblock content %}