{% extends 'extends/__base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  {% if user.profile_completed %}
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  {% else %}
  <h1>{{ user.username }}</h1>
  {% endif %}
  <a href="{{ user.username }}/followers"><h3>{{ user.followers.count() }} Followers</h3></a>
  <a href="{{ user.username }}/followed"><h3>{{ user.followed.count() }} Following</h3></a>
  {% if user != current_user %}
    {% if not current_user.is_following(user) %}
    <form action="{{ url_for('follow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Follow') }}
    </form>
    {% else %}
    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Unfollow') }}
    </form>
    {% endif %}
  {% endif %}
  {% if user == current_user %}
  <p>Age: {{ user.age }}</p>
  <p>Height: {{ user.height }}</p>
  <p>Weight: {{ user.weight }}</p>
  <a class="btn btn-primary" href="{{ url_for('edit_profile') }}" role="button">Edit</a>
  <p>Posts:</p>
  {% endif %}
{% endblock content %}