{% extends 'bootstrap/base.html' %}
{% block doc %}
{% block html %}
  {% block head %}
    {% block metas %}
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock metas %}

    {#
    {% block title %}
      {{ super() }}
    {% endblock title %}
    #}

    {% block styles %}
      {{ super() }}
    {% endblock styles %}
  {% endblock head %}
  {% block body %}
    <div class="main">
      {% block navigation %}{% include 'include/_navigation.html' %}{% endblock %}
      <div class="container">
        {% block header %}{% include 'include/_header.html' %}{% endblock header %}
        {% block content %}{% endblock content %}
        {% block footer %}{% include 'include/_footer.html' %}{% endblock footer %}
      </div>
    </div>
    {% block scripts %}
      <!-- put your scripts before call to super -->
      {{ super() }}
    {% endblock scripts %}
  {% endblock body %}
{% endblock html %}
{% endblock doc %}

{# vim: set ft=jinja ts=2 sw=2 sts=2 et: #}
